<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>proxyServlet</servlet-name>
    <servlet-class>com.a24studio.proxyservlet.ProxyServlet</servlet-class>
    <init-param>
      <param-name>proxyTarget</param-name>
      <param-value>http://localhost/</param-value>
    </init-param>
  </servlet>

  <!-- Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>proxyServlet</servlet-name>
    <url-pattern>/SampleApplication/*</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SampleApplication.html</welcome-file>
  </welcome-file-list>

</web-app>
